@import '../../styles/styles/mixin.scss';
.header-menu-item {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--height-header);
    margin-left: 24px;
    color: var(--text-color);

    &:hover .icon {
        @include hoverPrimary();
        transform: rotate(180deg);
    }

    &:hover .main-container {
        display: flex;
    }

    .header-menu-nav {
        @include HeaderNavItem();

        &:hover {
            @include hoverPrimary();
        }
    }

    .icon-chevron {
        display: block;
        height: var(--height-header);
        display: flex;
        align-items: center;
    }
}

.header-icon {
    --width-icon: 24;
    width: var(--width-icon);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;

    &:hover {
        @include hoverPrimary();
    }
}

@keyframes moveRight {
    from {
        left: 0;
    }
    to {
        left: 20px;
    }
}

.main-container {
    --width-children: 280px;
    position: absolute;
    top: var(--height-header);
    left: -300%;
    display: none;
    align-items: center;
    padding: 24px;
    background-color: var(--bg-dropdown);
    border-radius: 4px;

    .header {
        color: var(--color-textDisabled);
        font-size: 1.4rem;
        font-weight: 500;
    }

    .main-container-primary {
        width: var(--width-children);
        padding-right: 12px;
    }

    .main-container-other {
        width: var(--width-children);
        padding-left: 12px;
    }
}

.main-container .dropdown-item {
    display: flex;
    margin-top: 24px;
    cursor: pointer;

    .content {
        margin-left: 4px;
        .title {
            font-size: 1.4rem;
            display: flex;
            align-items: center;

            .arrow-icon {
                display: flex;
                align-items: center;
                margin-left: 4px;
            }
        }

        .infomation {
            font-size: 1.2rem;
            color: var(--color-textThird);
            line-height: 1.8rem;
            font-weight: 400;
        }
    }

    &:hover .icon-dropdown {
        @include hoverPrimary();
        animation: moveRight 1s linear;
    }
}
