@import 'normalize.css';

:root {
    // Color
    --primary: #fcd535;
    --black: #000000;
    --white: #ffffff;
    --gray: #474d57;
    --color-primaryHover: #f0b90b;

    // Background color
    --bg-primary: #181a20;

    // Text color
    --text-color: #eaecef;

    // Header variable
    --height-header: 64px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'BinanceFont', sans-serif;
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: var(--bg-primary);
    line-height: 2.4rem;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
    color: var(--text-color);
}

// font family
@font-face {
    font-family: 'BinanceFont';
    src: url(../assets/fonts/BinancePlex-SemiBold.woff2);
    font-weight: 600;
}

@font-face {
    font-family: 'BinanceFont';
    src: url(../assets/fonts/BinancePlex-Medium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: 'BinanceFont';
    src: url(../assets/fonts/BinancePlex-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: 'BinanceFont';
    src: url(/assets/fonts/BinancePlex-Light.woff2);
    font-weight: 300;
}
