@import '../../styles/styles/mixin.scss';
.footer-container-main {
    padding: 64px 24px;
    width: 100%;
    height: 100%;
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .footer-container {
        margin: 0 auto;
        max-width: 1200px;

        .footer-head {
            display: grid;
            grid-template-columns: 1fr 4fr;
            grid-column-gap: 24px;

            .footer-community {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                width: 100%;

                .title {
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: var(--text-color);
                }

                .wrapper-icon {
                    display: grid;
                    grid-template-columns: repeat(4, 24px);
                    grid-gap: 24px;
                    margin-top: 24px;

                    a {
                        &:hover {
                            @include hoverPrimary();
                        }
                    }
                }
            }

            .toggle-switch {
                display: flex;
                align-items: center;
                grid-gap: 10px;
                gap: 10px;
                font-weight: 500;
                margin-top: 20px;
                color: var(--text-color);
                .switch {
                    display: inline-block;
                    height: 20px;
                    position: relative;
                    width: 40px;
                }

                .switch input {
                    display: none;
                }

                .slider {
                    background-color: #ccc;
                    bottom: 0;
                    cursor: pointer;
                    left: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    transition: 0.4s;
                }

                .slider:before {
                    background-color: #fff;
                    bottom: 3px;
                    content: '';
                    height: 14px;
                    left: 4px;
                    position: absolute;
                    transition: 0.4s;
                    width: 14px;
                }

                input:checked + .slider {
                    background-color: #66bb6a;
                }

                input:checked + .slider:before {
                    transform: translateX(18px);
                }

                .slider.round {
                    border-radius: 34px;
                }

                .slider.round:before {
                    border-radius: 50%;
                }
            }

            .footer-navlist {
                display: grid;
                grid-template-columns: repeat(4, 4fr);
                column-gap: 24px;

                .wrapper-content {
                    display: flex;
                    flex-direction: column;

                    .title {
                        font-size: 1.6rem;
                        font-weight: 600;
                        color: var(--text-color);
                    }

                    .wrapper-navigate-title {
                        margin-top: 20px;
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 40px;

                        a {
                            margin-top: 8px;
                            line-height: 2.4rem;
                            font-size: 1.4rem;

                            &:hover {
                                @include hoverPrimary();
                            }
                        }
                    }
                }
            }
        }
    }
}
