.container {
    width: 100%;
    min-height: 1.2rem;
    // margin-bottom: 14px;
    transition-property: all;
    transition-timing-function: ease-in-out;

    .wrapper {
        --height: 48px;
        --br-default: #474d57;
        height: var(--height);
        width: 100%;
        padding: 6px 10px;
        border: 1px solid var(--br-default);
        border-radius: 4px;
        transition: all 0.5s;

        &:hover {
            border-color: #f0b90b;
        }

        .input {
            width: 100%;
            height: 100%;
            background-color: transparent;
            font-size: 1.6rem;
            color: var(--text-color);
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    .outline {
        border: none;
        padding-left: 0;
    }
}
