@import '../../styles/styles/mixin.scss';

@keyframes moveRight {
    from {
        left: 0;
    }
    to {
        left: 20px;
    }
}

.main-container {
    --width-children: 280px;
    position: absolute;
    top: var(--height-header);
    left: -300%;
    display: flex;
    align-items: center;
    padding: 24px;
    background-color: var(--bg-dropdown);
    border-radius: 4px;

    .main-container-primary {
        width: var(--width-children);
        padding-right: 12px;
    }

    .main-container-other {
        width: var(--width-children);
        padding-left: 12px;
    }
}

.main-container .dropdown-item {
    display: flex;
    margin-top: 24px;
    cursor: pointer;

    .content {
        margin-left: 4px;
        .title {
            font-size: 1.4rem;
            display: flex;
            align-items: center;

            .arrow-icon {
                display: flex;
                align-items: center;
                margin-left: 4px;
            }
        }

        .infomation {
            font-size: 1.2rem;
            color: var(--color-textThird);
            line-height: 1.8rem;
            font-weight: 400;
        }
    }

    &:hover .icon {
        @include hoverPrimary();
        animation: moveRight 1s linear;
    }
}
